@charset "utf-8";
#sortnav3 {
  padding: 0;
}
#index-1 {
  padding-top: 4px;
  line-height: 16px;
}
#index-1 a span {
  color: #000;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 2px;
}
#index-2 {
  opacity: 0.6;
  background: #d17f8c;
  margin-left: -14px;
}
#index-2 span {
  background: none;
  border: none;
}
#index-2 input {
  background: none;
  border: none;
}
#index-2 input:focus {
  background: none;
  border: none;
}
#index-2 input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
#index-2 input:-moz-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
#index-2 input::-moz-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
#index-3 {
  padding-top: 4px;
}
#index-3 span {
  font-size: 20px;
  margin-top: 2px;
}
#right {
  display: none;
}
#right a {
  text-decoration: none;
}
#right a span {
  margin-top: -90px;
}
#right a p {
  margin-top: -70px;
  font-size: 8px;
  font-weight: bold;
}
.top1 #contentB {
  display: none;
}
.top1 #contentB .well {
  margin-top: 4px;
  padding: 0;
}
.top1 #contentB .well p {
  margin-top: 4px;
}
.top1 #contentB .well p a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  opacity: 0.4;
  margin-left: 10px;
}
.top1 #contentC {
  display: none;
}
.top1 #contentC .well {
  padding: 0;
  margin-top: 4px;
}
.top1 #contentC .well .WCon {
  margin-top: 4px;
}
.top1 #contentC .well .WCon .Rfirst {
  margin-top: 4px;
}
.top1 #contentC .well .WCon .Rfirst div {
  font-size: 16px;
}
.top1 #contentC .well .WCon .Rfirst div:nth-of-type(1) {
  font-weight: bold;
}
.top1 #contentC .well .WCon .Rfirst div:nth-of-type(2) a {
  font-size: 14px;
  color: #000;
}
.top1 #contentC .well .WCon .Rsecond div {
  background: #fff;
  width: 30%;
  height: 30%;
  margin-top: 10px;
  margin-left: 10px;
}
.top1 #contentC .well .WCon .Rfirst1 {
  margin-top: 4px;
}
.top1 #contentC .well .WCon .Rfirst1 div {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
}
.top1 #contentC .well .WCon .Rfirst1 div:nth-of-type(2) {
  background: red;
}
.top1 #contentC .well .WCon .Rfirst1 div:nth-of-type(2) button {
  color: #fff;
}
.top1 #contentC .well .WCon .Rfirst1 div button {
  background: none;
  border: none;
  color: #000;
}
.top1 .conD .row div:nth-of-type(1) {
  margin-top: 40px;
}
.top1 .conD .row div:nth-of-type(1) button {
  background: none;
  border: none;
  font-weight: bold;
}
.top1 .conD .row div:nth-of-type(2) {
  margin-top: 40px;
}
.top1 .conD .row div:nth-of-type(2) button {
  background: none;
  border: none;
}
.top1 .conD .row div:nth-of-type(3) {
  margin-top: 40px;
}
.top1 .conD .row div:nth-of-type(3) button {
  background: none;
  border: none;
}
.top1 .conD .row div:nth-of-type(4) {
  margin-top: 40px;
}
.top1 .conD .row div:nth-of-type(4) button {
  background: none;
  border: none;
}
.top1 hr {
  margin: 0;
}
.top1 .conD2 .divR2 div button {
  background: none;
  border: none;
}
.top1 #contentC2 {
  display: none;
}
.top1 #contentC2 .well .WCon .Rsecond div {
  text-align: left;
  padding-top: 6px;
  font-size: 20px;
}
.top1 #contentC2 .Rfirst1 {
  margin-top: 8px;
}
.top1 #contentC2 .Rfirst1 div {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
}
.top1 #contentC2 .Rfirst1 div button {
  border: none;
  background: none;
  color: #000;
  height: 30px;
}
.top1 #contentC2 .Rfirst1 div:nth-of-type(2) {
  background: red;
}
.top1 #contentC3 {
  display: none;
}
.top1 #contentC3 .well .WCon .Rsecond div {
  text-align: left;
  padding-top: 6px;
  font-size: 20px;
}
.top1 #contentC3 .Rfirst1 {
  margin-top: 8px;
}
.top1 #contentC3 .Rfirst1 div {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
}
.top1 #contentC3 .Rfirst1 div button {
  border: none;
  background: none;
  color: #000;
  height: 30px;
}
.top1 #contentC3 .Rfirst1 div:nth-of-type(2) {
  background: red;
}
.top1 #contentC4 {
  display: none;
}
.top1 #contentC4 .well .WCon .Rsecond div {
  text-align: left;
  padding-top: 6px;
  font-size: 20px;
}
.top1 #contentC4 .Rfirst1 {
  margin-top: 8px;
}
.top1 #contentC4 .Rfirst1 div {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
}
.top1 #contentC4 .Rfirst1 div button {
  height: 30px;
  border: none;
  background: none;
  color: #000;
}
.top1 #contentC4 .Rfirst1 div:nth-of-type(2) {
  background: red;
}
.top1 #contentC5 {
  display: none;
}
.top1 #contentC5 .well .WCon .Rsecond div {
  font-size: 20px;
  text-align: left;
  padding-top: 6px;
}
.top1 #contentC5 .Rfirst1 {
  margin-top: 8px;
}
.top1 #contentC5 .Rfirst1 div {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
}
.top1 #contentC5 .Rfirst1 div button {
  height: 30px;
  border: none;
  background: none;
  color: #000;
}
.top1 #contentC5 .Rfirst1 div:nth-of-type(2) {
  background: red;
}
.productShow .row div .thumbnail .caption h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.productShow .row div .thumbnail .caption p:nth-of-type(1) {
  color: red;
  font-size: 18px;
}
.productShow .row div .thumbnail .caption p:nth-of-type(2) {
  color: #c8c8c8;
  font-weight: bold;
  font-size: 10px;
}
.productShow .row div .thumbnail .caption p:nth-of-type(2) span:nth-of-type(2) {
  margin-left: 2px;
}
.more1 .container {
  margin-top: 40px;
}
.more1 .container p a {
  font-size: 12px;
  color: #000;
  font-weight: bold;
}
